<%= form_tag search_trello_index_path, id: 'search_form', method: :get, remote: true do %>
  <%= text_field_tag :q, nil, size: 100, maxlength: 100, placeholder: 'Enter topics here' %>
<% end %>

<%= image_tag 'loading.gif', style: 'display: none;', id: 'loading_icon' %>
<div id="search_results_ctn"></div>
