<div id="board">
  <% results.each_with_index do |result, index| %>
    <% rem = index % @num_per_list %>
    <% if rem == 0 %><div class="list"><% end %>
      <div class="portlet">
        <div class="portlet-content">
          <%= image_tag result.thumbnail_link, alt: result.content, align: 'center' %>
          <p><%= result.content %></p>
          <p><%= link_to 'Visit Link', result.remote_link, target: :_blank %></p>
        </div>
      </div>
    <% if rem == @num_per_list-1 %></div><% end %>
  <% end %>
</div>
<script>
  $(document).trigger('portlets:load');
</script>
